<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Axis_Bank_Suite" thread-count="3" parallel="tests">
	
	<listeners>
		<listener class-name="ExtentReports.ExtentTestNGIReportListener"/>
	</listeners>
	
  <test  name="ChromeTest" thread-count="2" parallel="classes">
	  <parameter name="browser" value="Chrome"/>
    <classes>
	  <class name="Home_Page.VerifyLoginTab"/>
	  <class name="Home_Page.VerifyExploreProductTab"/>
    </classes>
  </test> <!-- ChromeTest -->
  
  <test name="FirefoxTest" thread-count="2" parallel="classes">
	  <parameter name="browser" value="Firefox"/>
    <classes>
      <class name="Home_Page.VerifyLoginTab"/>
	  <class name="Home_Page.VerifyExploreProductTab"/>
    </classes>
  </test> <!-- ChromeTest -->
  
  <test name="EdgeTest" thread-count="2" parallel="classes">
	  <parameter name="browser" value="Edge"/>
    <classes>
      <class name="Home_Page.VerifyLoginTab"/>
	  <class name="Home_Page.VerifyExploreProductTab"/>
    </classes>
  </test> <!-- ChromeTest -->
</suite> <!-- Axis_Bank_Suite -->
